@import url("https://fonts.googleapis.com/css2?family=Anton&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  border: none;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #fff;
  color: #141416;
}
a {
  text-decoration: none;
  color: #00295c;
}

#wrapper {
  margin: 0px auto;
  width: 1440px;
}
.container {
  width: 1200px;
  margin: 0px auto;
}
.header {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}
.header .header__nav {
  list-style: none;
}
.header .header__nav li {
  display: inline-block;
  margin-right: 4px;
}
.header .header__nav li:last-child {
  margin-right: 0px;
}
.header .header__nav li a {
  display: block;
  text-decoration: none;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 16px;
  color: #141416;
}
.content {
  margin-top: 60px;
}
.post_highlight {
  display: flex;
  justify-content: space-between;
}
.post_highlight .post_highlight-main {
  width: 789px;
}
.post_highlight .post_highlight-sub {
  width: 379px;
}
.post__card {
  margin-bottom: 20px;
}
.post__card .post__img {
  border-radius: 24px;
  overflow: hidden;
}
.post__card .post__img img {
  width: 100%;
}
.post__card .post__body .post__title {
  font-size: 24px;
  font-weight: 600;
  color: #141416;
  padding: 10px 0px;
}
.post__card .post__body .post__desc {
  color: #777e90;
  font-size: 16px;
  line-height: 24px;
}
.post_highlight-sub .post__card .post__body .post__title {
  font-size: 20px;
  font-weight: 600;
  color: #141416;
  padding: 10px 0px;
}
.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
.post__footer .post__date {
  color: #b1b5c3;
  font-size: 12px;
  line-height: 24px;
}
.post__footer .more {
  color: #0066e6;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
}
.social {
  text-align: center;
}
.social .social__title h1 {
  color: #00295c;
  font-size: 44px;
}
.social .social__icon {
  width: 379px;
  height: 112px;
  border-radius: 24px;
  padding: 16px 18px;
  margin: 30px auto;
  border: 1px solid #e6e8ec;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 12px 32px 0px #3781bd1a;
}
.social .social__icon ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.social .social__icon ul li {
  display: inline-block;
}
.social .social__icon ul li {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  line-height: 52px;
  text-align: center;
}
.social .social__icon ul li.item {
  border: 1px solid #e6e8ec;
}
.social .social__icon ul li i {
  font-size: 20px;
  color: #777e90;
}
.content__main {
  display: flex;
  justify-content: space-between;
}
.post__container {
  width: 700px;
}
.post__container .sidebar {
  width: 441px;
}
.post__container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.post__container__title .title {
  font-size: 44px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0px;
  text-align: left;
  color: #00295c;
  text-transform: uppercase;
}
.post__container__title .button__paginate button i {
  font-size: 24px;
}
.post__container__title .button__paginate button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
}
.post__container__title .button__paginate button.active {
  border: 1px solid #e6e8ec;
}
.post__card-hozi {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.post__card-hozi .post__img {
  width: 277px;
  object-fit: contain;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  overflow: hidden;
}
.post__card-hozi .post__body {
  padding: 5px 10px;
  width: 423px;
}
.post__card-hozi .post__body .post__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #00295c;
  margin-bottom: 10px;
}
.post__card-hozi .post__body .post__title a {
  text-decoration: none;
  color: #00295c;
}
.post__card-hozi .post__body .post__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777e90;
}
.post__card-hozi .post__img img {
  width: 100%;
}
.sidebar {
  width: 441px;
}
.sidebar .form_login {
  border: 1px solid #e6e8ec;
  border-radius: 24px;
  padding: 42px 20px 42px 20px;
}
.form_login .form_login__title {
  margin-bottom: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  color: #141416;
}
.sidebar .form_login label {
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  color: #b1b5c3;
  text-align: left;
  margin-top: 15px;
  display: block;
}
.sidebar .form_login input {
  display: block;

  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  border: 2px solid #e6e8ec;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  /* color: #23262f; */
  outline: #3b71fe;
}

.mess_err {
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #e15e50;
  margin-bottom: 10px;
  display: none;
}
.sidebar .form_login input.error {
  color: #e15e50;
}
.sidebar .form_login input.error:focus {
  border: 2px solid #e15e50;
}
.sidebar .form_login input.error:focus .mess_err {
  display: block;
}
.btn {
  width: 100%;
  border-radius: 12px;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.btn.btn-register {
  background-color: #3b71fe;
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
}
.sidebar .form_login input:focus {
  border: 2px solid #3b71fe;
  /* outline: #3b71fe; */
}
.read_more {
  padding: 0px 30px;
  margin-bottom: 50px;
}
.read_more__title {
  display: flex;
  align-items: center;
}
.tag__container__title i,
.read_more__title i {
  padding-right: 7px;
  font-size: 24px;

  color: #e15e50;
}
.tag__container__title span,
.read_more span {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #00295c;
  text-transform: uppercase;
}
.read_more ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}
.read_more ul li {
  margin-bottom: 15px;
}
.read_more ul li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #0066e6;
}
.tag__container {
  padding: 0px 0px 0px 50px;
}
.tag__container__title {
  display: flex;
  align-items: center;
}
.tag__container .list_tag {
  display: flex;
  flex-wrap: wrap;
}
.tag__container .list_tag .tag_item {
  padding: 12px 32px 12px 32px;
  border-radius: 12px;
  border: 2px solid #e6e8ec;
  margin-right: 20px;
  margin-top: 20px;
}
.register__content {
  width: 1144px;
  border: 1px solid #e6e8ec;
  border-radius: 24px;
  padding: 34px 40px 34px 25px;
  margin-top: 60px;
}
.register__content .register__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
}
.register__content .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.register__content .form-group input {
  display: block;
  width: 630px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  display: block;
  border-radius: 12px;
  border: 2px solid #e6e8ec;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.register__content .form-group input:focus {
  border: 2px solid #3b71fe;
}
.register__content .form-group button {
  width: 400px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 12px;
  background-color: #3b71fe;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}
.register__content label {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  color: #b1b5c3;
  text-align: left;
  margin-top: 15px;
  display: block;
}
footer {
  background: #0052b8;
  padding-top: 40px;
}
.footer__logo p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fcfcfd;
}
.footer__body {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.footer__contact {
  width: 480px;
  color: #fcfcfd;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.footer__contact ul {
  list-style: none;
  padding: 0;
}
.footer__contact ul li {
  display: inline-block;
  padding: 5px 0px;
}
.footer__contact ul li i {
  padding-right: 5px;
}
.footer__info {
  width: 165px;
}
.footer__info ul {
  list-style: none;
  padding: 0;
}
.footer__info ul li a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fcfcfd;
}
.footer__info ul li {
  display: inline-block;
  padding: 5px 0px;
}
.footer__social p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fcfcfd;
  margin-bottom: 10px;
}
.footer__social span {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #fcfcfd;
  border-radius: 50%;
  border: 1px solid #fcfcfd;
  text-align: center;
  margin-right: 10px;
}
.footer__copyright {
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fcfcfd;
}
